:root {
   --spacing: 15px;
   --black: #333;
   --gray: rgb(150, 150, 150);
   --border: 1px solid rgb(220, 220, 220);
   --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
   --border-radius: 2px;
}

@font-face {
   font-family: FiraGO;
   src: url(../static/fonts/FiraGO-Regular.woff);
}

@font-face {
   font-family: FiraGO;
   src: url(../static/fonts/FiraGO-Bold.woff);
   font-weight: bold;
}

@font-face {
   font-family: FiraGO;
   src: url(../static/fonts/FiraGO-Medium.woff);
   font-weight: 500;
}

p {
   line-height: 18px;
}

body,
html {
   border: 0;
   margin: 0;
   padding: 0;
   font-family: FiraGO, serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: var(--black);
   overflow: hidden;
   height: 100%;
   width: 100%;
   font-size: 13px;
}
.map {
   position: absolute;
   height: 100%;
   width: 100%;
}

.shine-img {
   height: 100%;
   width: auto;
}

.shine {
   background: #f6f7f8;
   background-image: linear-gradient(
      to right,
      #f6f7f8 0%,
      #edeef1 20%,
      #f6f7f8 40%,
      #f6f7f8 100%
   );
   background-repeat: no-repeat;
   background-size: 800px 104px;
   /* display: inline-block; */
   position: relative;
   color: transparent !important;

   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
   animation-name: placeholderShimmer;
   animation-timing-function: linear;
}

.shine div {
   visibility: hidden;
}

.shine a {
   color: rgba(255, 255, 255, 0);
}

@keyframes placeholderShimmer {
   0% {
      background-position: -468px 0;
   }

   100% {
      background-position: 468px 0;
   }
}

/** Mobile
**/
@media screen and (max-width: 420px) {
   .sidebar {
      width: calc(100vw - var(--spacing) * 2);
   }
}

@media screen and (max-width: 502px) {
   .attribution {
      display: none !important;
   }
}

@media screen and (max-width: 650px) {
   .attribution {
      grid-template-columns: none !important;
      grid-template-rows: auto auto !important;
   }
}

.H_logo {
   margin: 10px !important;
   cursor: pointer;
   pointer-events: visible;
}

.H_copyright {
   display: none;
   font-family: FiraGO !important;
   color: var(--gray) !important;
   background: none !important;
   padding: 0px !important;
   margin: 10px !important;
}

.H_copyright span,
.H_copyright a {
   margin: 0 !important;
}

.flex-align {
   display: flex;
   align-items: center;
}

.attribution {
   display: grid;
   grid-template-columns: auto auto;
   margin: var(--spacing);
   grid-gap: var(--spacing);
   position: absolute;
   z-index: 50000;
   bottom: 0;
   right: 0;
}

.attribution a {
   display: block;

   background: white;
   padding: 4px;
   font-weight: 500;
   color: var(--gray);
   transition: 0.3s all;
   text-decoration: none;
   box-shadow: var(--box-shadow);
   border-radius: var(--border-radius);
}
.attribution a:hover {
   color: rgb(100, 100, 100);
}

a {
   color: rgb(100, 100, 100);
   text-decoration: none;
   font-weight: 500;
}

.separator {
   height: 1px;
   width: 100%;
   background: rgb(233, 233, 233);
   margin: 10px 0;
}
