.tooltip {
   position: absolute;
   padding: var(--spacing);
   z-index: 50000;
   background: white;
   border-radius: var(--border-radius);
   border-top: 3px solid black;
   box-shadow: var(--box-shadow);
}

.desktop-tooltip {
   min-width: 150px;
   display: none;
}

.mobile-tooltip {
   width: calc(100vw - var(--spacing) * 2);
   top: var(--spacing);
   left: var(--spacing);
   box-sizing: border-box;
   transform: translateY(-150%);
   transition: 0.3s all;
}

.tooltip .title-row {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.tooltip .title {
   font-size: 18px;
   font-weight: 600;
   margin-right: 20px;
}

.tooltip .flag {
   height: 18px;
   border-radius: 2px;
   box-shadow: var(--box-shadow);
}

.tooltip .key {
   color: rgb(150, 150, 150);
}
.tooltip .value {
}

.tooltip .description-row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-weight: 500;
   font-size: 13px;
}
